/*
============================================
Universial
============================================
*/

*,
*::after,
*::before {
	font-family: "Georgia", Arial, sans-serif;
}

body,
html {
	line-height: 1.7;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
}

video {
	height: 100%;
	width: 100%;
}

#hero-section {
	position: relative;
	display: inline-block;
}

#hero-vid {
	position: relative;
}

/*
============================================
Mobile - covers all iPhone versions through iPhone 15 pro max
============================================
*/

@media screen and (max-device-width: 435px) {
	#article-title {
		position: absolute;
		top: 60%;
		z-index: 1;
		color: white;
		margin: 3%;
		line-height: 1.2;
		text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
	}

	#article-title h1 {
		font-size: 5.5rem;
	}

	#article-title h2 {
		font-size: 3.5rem;
		font-style: italic;
		font-weight: normal;
	}

	#hero-img {
		display: none;
	}

	#byline {
		font-weight: 100;
		font-size: 1.2rem;
		margin: 6%;
		text-align: center;
	}

	hr {
		color: lightgrey;
		width: 30%;
		border-top: 5px solid lightgrey;
	}

	a {
		color: #21b5de;
	}

	.article-graf {
		margin-left: 8%;
		margin-right: 8%;
		font-size: 2.5rem;
		margin-bottom: 5%;
		margin-top: 3%;
	}

	.section-img {
		width: 90vw;
		padding: 5% 2% 5% 5%;
	}

	figcaption {
		font-size: small;
		background-color: white;
		padding-left: 1%;
	}

	#model-img-caption {
		margin-top: -4%;
		margin-left: -45%;
		margin-bottom: 3%;
		font-size: small;
	}

	.section-img-caption {
		margin-left: 2%;
		margin-top: -3%;
		margin-bottom: 2%;
	}

	.landslide-section-main > .section-img-caption {
		margin-top: -4%;
		margin-left: -35%;
	}

	.scroll-text section {
		margin: auto;
	}

	.scroll-text-block {
		background-color: black;
		opacity: 80%;
		color: white;
		padding: 2%;
		width: 50%;
		font-size: 2.1rem;
	}

	#before-graf,
	#after-graf {
		background-color: white;
	}

	#after-graf .article-graf {
		margin-top: 4%;
		margin-bottom: 4%;
	}

	#map-container {
		position: sticky;
		top: 0;
		height: 100vh;
		z-index: -1;
	}

	#map,
	#bt-map,
	#ls-map {
		height: 100%;
	}

	.advisory-section {
		position: sticky;
		z-index: 100;
	}

	.advisory-section section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0% auto 120% 2%;
		opacity: 0.8;
	}

	.advisory-section h2,
	.wind-section h2 {
		font-size: medium;
		margin-bottom: 5px;
	}

	.advisory-section img {
		height: 140px;
		width: 90vw;
	}

	.advisory-section p,
	.wind-section p {
		text-align: left;
	}

	.bt-section div {
		background-color: black;
		opacity: 70%;
		color: white;
		padding: 2%;
		width: 40%;
	}


	.bt-section section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0% auto 120% 2%;
		opacity: 0.8;
	}

	.sst-section section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0% auto 120% 2%;
		opacity: 0.8;
	}

	#bt2 {
		font-size: 1.4rem;
	}

	#slider {
		width: 80%;
	}

	#map-overlay {
		font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
		width: 25%;
		padding: 10px;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		padding: 10px;
		margin-top: 150%;
		z-index: 1001;
	}

	.wind-section,
	.before-after-section,
	.landslide-section-main,
	.outro-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		margin-bottom: 0;
	}

	.landslide-section section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0% auto 120% 2%;
		opacity: 0.8;
	}

	.beer-slider {
		display: none;
	}

	.carousel-indicators li {
		background-color: rgba(255, 255, 255, 0.5);
		border: 1px solid #fff;
	}

	.carousel-indicators .active {
		background-color: #fff;
	}

	.carousel-caption {
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;
		padding: 5px;
	}

	.carousel-caption h5 {
		font-size: 1.5rem;
	}

	#wind-graph {
		height: auto;
		width: 90vw;
		background-color: #fff;
		padding-top: 4%;
		padding-bottom: 4%;
	}

	#outro {
		height: 100vh;
		background-color: lightblue;
	}

	#ls-map-container {
		height: 100vh;
		width: 100%;
		position: sticky;
		top: 0;
		z-index: -1;
		background: white;
	}

	#bt-map-container {
		height: 100vh;
		width: 100%;
		position: sticky;
		top: 0;
		z-index: -1;
		background-color: white;
	}

	#marina {
		margin-left: -8%;
	}

	#sst-section {
		background: white;
	}

	#sst-gif {
		height: 100%;
		width: 100%;
	}

	input[type="range"]::-webkit-slider-thumb {
		width: 30px;
		height: 30px;
	}
	input[type="range"]::-moz-range-thumb {
		width: 30px;
		height: 30px;
	}
	input[type="range"]::-ms-thumb {
		width: 30px;
		height: 30px;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		height: 30px;
	}
	input[type="range"]::-moz-range-track {
		height: 30px;
	}
	input[type="range"]::-ms-track {
		height: 30px;
	}
}

/* 
==================================================
 Desktop 
 ==================================================
*/
@media screen and (min-device-width: 436px) {
	#article-title {
		position: absolute;
		top: 80%;
		left: 20%;
		z-index: 1;
		color: white;
		width: 60%;
		margin-left: auto;
 		margin-right: auto;
		line-height: 1.2;
		text-align: center;
	}

	#article-title h1 {
		font-size: 3rem;
	}

	#article-title h2 {
		font-size: 1.3rem;
		font-style: italic;
		font-weight: lighter;
    	
	}

	#article-title h3 {
		margin-top: -3%;
	}

	#hero-img {
		display: relative;
		width: 100%;
	}

	#hero-img img {
		width: 100%;
	}


	#hero-vid {
		display: none;
	}

	.hero-img-caption {
		margin-left: 1%;
		font-size: small;
	}

	#byline {
		font-weight: 100;
		margin: 2%;
		font-size: 1rem;
		text-align: center;
	}

	hr {
		color: lightgrey;
		width: 30%;
		border-top: 5px solid lightgrey;
	}

	a {
		color: #21b5de;
	}

	.section-img {
		width: 90vw;
		margin: 2% 5%;
	}

	.section-img-caption {
		margin-left: 5%;
		font-size: small;
		margin-top: -1.5%;
	}

	#before-graf,
	#after-graf {
		background-color: white;
	}

	.wind-section,
	.before-after-section,
	.landslide-section-main,
	.outro-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		margin-bottom: 0;
	}

	.scroll-text-block {
		background-color: black;
		opacity: 80%;
		color: white;
		padding: 2%;
		width: 50%;
		font-size: 2.1rem;
	}

	
	#map-container {
		position: sticky;
		top: 0;
		height: 100vh;
		z-index: -1;
	}

	#ls-map-container {
		height: 100vh;
		width: 100%;
		position: sticky;
		top: 0;
		z-index: -1;
		background: white;
	}

	#bt-map-container {
		height: 100vh;
		width: 100%;
		position: sticky;
		top: 0;
		z-index: -1;
		background-color: white;
	}

	#sst-section {
		background: white;
	}

	#map,
	#bt-map,
	#ls-map {
		margin: 3%;
		height: 90%;
	}

	#ls1 {
		width: 30%;
		font-size: 1.2rem;
	}

	#slider-title {
		font-size: 1.4rem;
	}

	#wind-graph {
		width: 50%;
		margin-left: 25%;
		margin-top: 1%;
	}

	#model-img {
		height: 50%;
		width: 50%;
		margin-left: -5%;
		padding-bottom: 5%;
	}

	#model-img-caption {
		margin-top: -6%;
		margin-left: -35%;
		margin-bottom: 3%;
		font-size: x-small;
		
	}

	#bt2 {
		width: 20%;
		padding: 1%;
		margin-left: 15%;
	}

	#sst-gif {
		width: 55%;
		margin-left: 22%;
	}

	.beer-slider {
		display: block;
		margin-bottom: 3%;
	}

	#satellite-carousel {
		display: none;
	}

	.article-graf {
		margin: 2% 34%;
		font-size: 1.3rem;
	}

	.advisory-section div {
		background-color: black;
		opacity: 60%;
		color: white;
		padding: 1%;
		margin-left: 0%;
		width: 25%;
		font-size: 1.2rem;
	}

	.advisory-section .scroll-text-block {
		margin-left: -45%;
	}

	.advisory-section section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0% auto 120% 2%;
		opacity: 0.9;
	}

	.bt-section section {
		display: flex;
		flex-direction: column;
		margin: 1% auto 60% 0%;
		opacity: 0.9;
		align-items: flex-start;
	}

	.bt-section section div:first-child {
		padding: 0% 2%;
	}

	.bt-section div {
		background-color: black;
		opacity: 60%;
		color: white;
		padding: 2%;
		margin-left: 10%;
		width: 30%;
	}

	.before-after-section {
		padding: 0 15% 0 15%;
	}

	.before-after-section .article-graf {
		margin-right: 22%;
		margin-left: 22%;
	}

	.landslide-section section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0% auto 80% 2%;
		opacity: 0.8;
		font-size: 1.2rem;
	}

	.landslide-section figcaption {
		margin-left: -55%;
	}
}

/* 
=========================
=========================
CSS for Monitors
=========================
=========================*/

@media screen and (min-device-width: 1715px) {
	#article-title {
		top: 90%;
	}

	#article-title h2 {
		margin-top: 1%;
	}

	.article-graf {
		margin-left: 35%;
		margin-right: 35%;
	}
}
